{% extends 'base.html' %}
{% block home_content %}
<div>
  <div class="container pt-4">
    <div class="row  p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>Add New TODO</h2>
        </div>
        <div class="p-4">
          <form action="task_save" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="ADD" class="btn btn-info">
          </form>
        </div>
      </div>



      <div class="col">
        <div class="border">

         
          <!-- <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px;">No Todos</p>
            </div>
            <br>
            <br>
          </div> -->

         
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>

                {% for data in all_data %}
                <tr>
                  <td> {{ forloop.counter }} </td>
                  <td>{{ data.title }}</td>
                  <td>
                    {% if data.status == 'C'%}
                    ✅
                    {%else%}
                    🕒
                    {%endif%}
                    
                  </td>
                  <td>{{data.priority}}</td>
                  <td>
                    <a href="delete_task/{{data.id}}" title="Delete" class="">🗑️</a>
                    {% if data.status == 'P'%}
                    <a href="/change_status/{{data.id}}/C" title="Mark Completed" class="">✅</a>
                    {%else%}
                    <a href="/change_status/{{data.id}}/P" title="Mark Pending" class="">🕒</a>
                    {%endif%}
                  </td>
                </tr>
                {% endfor %}
               


              </tbody>
            </table>
          </div>
          

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}